<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - COVID Pay Tracking Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqdatatables")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqdatatables")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1">

                </div>
                <div class="col-sm-10">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("COVID-19 Pay Tracking App", "Home", "HotlineLog", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @*<li>@Html.ActionLink("Report", "Index", "HotlineLog")</li>*@
                            <li>@Html.ActionLink("HotLine Log", "EmployeesCalledIndex", "HotlineLog")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">View/Export Reports<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Employee Merit and STD Election", "GetEmployeeMeritSTDElection", "Report")</li>
                                    <li>@Html.ActionLink("Export Report to Excel", "Index", "Report")</li>

                                    @*<li>@Html.ActionLink("Export By Pay Date", "ReportbyPayDate", "Report")</li>*@
                                </ul>
                            </li>

                            @*<li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                        <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
                    </div>
                </div>
                <div class="col-sm-1">

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <h6 class="text-center ">Copyright &copy; @DateTime.Now.Year Northside Hospital, Inc. All rights reserved</h6>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
